.container {
  background: center center;
  height: 100vh;
  background-color: #171a3e;
  background-image: url('./assets/img_bg.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
 * {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}